<!DOCTYPE html>
<html>
  <head>
    <title>CpfDictionary</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "navbar navbar-default" id= "fixed-header">
      <div class = "container-fluid"> 
        <div class="row">
          <div class = "col-md-3">
            <%= link_to image_tag("CPFLogoSmall.JPG"), root_path, :class=>"navbar-left" %>
          </div>
          <div class ="col-md-3 center-text">
            <% if logged_in? %>
              <p>Download Database:
                <%= link_to "CSV", words_path(format: "csv") %> |
                <%= link_to "Excel", words_path(format: "xlsx") %>
              </p>
            <% end %>
          </div>
          <div class = "col-md-6">  
            <%= form_tag(results_path, method: :get, :class => "navbar-form navbar-right") do %>
              <%= text_field_tag :term, params[:term], placeholder: "Search by abbreviation" %>
              <%= submit_tag 'Search', name: nil %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <nav class="navbar navbar-default" id= "fixed-footer">
      <div class = "container-fluid">
        <div class= "row">
          <div class = "col-md-3">
            <div class="row center-text">
              <% if logged_in? %>
                <%= link_to 'Log Out', session_path(current_user.id), method: :delete %>
              <% else %>
                <%= link_to "Log In", new_session_path %>
              <% end %>
            </div>
          </div>
          <div class = "col-md-3">
            <div class="row center-text">
              <% if logged_in? %>
                <%= link_to "Add A New Word", new_word_path %>
              <% end %>
            </div>
          </div>
          <div class = "col-md-6">
            <div class="row center-text">
              <% if logged_in? %>
                <%= link_to "Dictionary Index", words_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body> 
</html>
